.main{
    border: 1px solid darkblue;
    width: 300px;
    height: 350px;
    margin: 0 auto;
     
}
.style{
    width: 50px;
    height: 52px;
    margin-left: 50px;
}
.result{
    width: 100%;
    background-color: gray;
    color: white;
}
.clearbtn{
    width: 100%;
    margin-top: 20px;
    background-color: gray;
}
.btn{
    background-color: yellowgreen;
    width: 50px;
    margin: 5px;
    margin-top: 20px;
    background: linear-gradient(gray);
    
}
.halfbtn{
    background-color:yellowgreen ;
    width: 50px ;
    margin-top: 20px;
    margin-left: 75px;
    }